PORT=3005
DATABASE_URL=mongodb://localhost:27017/notification-service

# SMTP Gmail
# SMTP_PASS = App Password Gmail (16 caractères, pas le mot de passe normal)
# Générer : Google Account → Sécurité → Mots de passe des applications
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=jbencoremoi@gmail.com
SMTP_PASS=VOTRE_APP_PASSWORD_ICI
SMTP_FROM=jbencoremoi@gmail.com
